* {
    margin: 0;
	padding: 0;
    /* border: 1px solid red; */
    font-family: 'Roboto Mono', monospace;
}

.svg-frame {
    position: absolute;
}

.svg-frame:first-of-type {
    margin-top: -40px;    
}

.animate-path {
    opacity: 1;
    animation: dash 3s ease forwards;
}

.de-animate-path {
    opacity: 0;
}
  
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.welcome-background {
    position: absolute;
    background-image: url('../img/mainbackground-s.png');
    height: 800px;
    width: 100%;
    top: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.welcome-section { 
    position: relative;
    height: 800px;
}

.nav-menu {
    margin: 40px 0 0 0;
}

.nav-menu-list {
    list-style: none;
    display: flex;
    line-height: 40px;
    justify-content: center;
    position: relative;
}

.nav-menu-link {
    text-decoration: none;
    font-size: 22px;
    margin: 40px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .2em;
}

.nav-menu-link:after {
    content: '';
    position: absolute;
    width: 0; height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: white;
    transition: width 2s ease;
    -webkit-transition: width 2s ease;
}

.nav-menu-link:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.welcome-header {
    text-align: center;
    width: 100%;
    margin-top: 300px;
}

.welcome-name {
    color:white;
    letter-spacing: .2em;
    font-size: 75px;
    text-transform: uppercase;
}

.welcome-title{
    font-size: 50px;
    letter-spacing: .08em;
    color: white;
}

#about-section {
    display: flex;
    margin: 50px;
}

.about-left {
    display: grid;
    flex: 1 0;
}

.about-title {
    text-transform: uppercase;
    font-size: 60px;
    margin-left: 120px;
    letter-spacing: .2em;
}

.about-left img {
    height: 222px;
    padding: 80px 0 40px;
    z-index: 2;
}

.about-description {
    font-size: 20px;
    padding: 0 30px 0 10px;
    font-weight: 300;
    line-height: 1.6em;
}

.about-right {
    flex: 1 0;
    display: grid;
    align-items: flex-end;
}

.about-position {
    font-size: 40px;
    margin-top: 56px;
    margin-bottom: 30px;
    letter-spacing: .2em;
}

.about-small-description {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px 60px;
    line-height: 1.6em;
}

.experience-technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 20px;
    gap: 5px 20px;
    text-transform: uppercase;
    width: 250px;
    margin: 10px 0 0 200px;
    grid-template-rows: repeat(6, 40px);
}

.tech-name {
    position: relative;
    font-weight: 300;
    top: 2px;
    letter-spacing: .2em;
}

.experience-technologies img {
    height: 35px;
    margin: 0 auto;
}

#portfolio-section {
    padding: 50px;
}

.card-image {
    height: 300px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.24), 0 3px 6px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-image:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.portfolio-cards {
    display: flex;
    justify-content: space-around;
    margin: 80px 60px;
    text-align: center;
    opacity: 1;
}

.portfolio-card {
    display: grid;
    position: relative;
}

.card-title {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 25px;
}

.portfolio-links {
    display: flex;
    justify-content: center;
}

.portfolio-link {
    display: grid;
    justify-content: center;
    margin: 0 30px;
    text-align: center;
}

.portfolio-link a {
    color: black;
    text-decoration: none;
    position: relative;
}

.portfolio-link-img {
    height: 40px;
}

.resume-sheet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.resume-sheet > p {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 10px;
}

.resume-entry {
    display: grid;
    gap: 5px;
    align-items: center;
    margin: 30px 0 0 0;
}

.resume-work {
    text-align: end;
    margin: 30px 50px 0 0;
}

.resume-icon img{
    height: 30px;
    position: absolute;
    transform: translate(-50px, 15px);
}

.resume-educ {
    text-align: start;
    margin: 30px 0 0 50px;
}

.resume-entry-place {
    font-size: 22px;
    letter-spacing: -0.08em;
}

.resume-entry-title {
    font-size: 18px;
}

.contact-sheet {
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    padding: 60px;
}

.contact-part {
    display: flex;
    position: relative;
    align-items: center;
}

.contact-part img {
    height: 30px;
    margin: 0 25px 0 0;
}

.contact-part p {
    font-size: 20px;
}

.clipboard {
    position: absolute;
}

#clipboard-email {
    transform: translate(290px, -8px);
}

#clipboard-phone {
    transform: translate(300px, -10px);
}

.clipboard img {
    height: 18px;
    opacity: .3;
    cursor: pointer;
}

.clipboard img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.clipboard-words {
    visibility: hidden;    
    transform: translate(-40%, -52px);
    border: .5px solid black;
    padding: 4px;
    /* width: 30px; */
}

.clipboard-words-active {
    visibility: visible; 
    transform: translate(-40%, -52px);
    border: .5px solid black;
    padding: 4px;
    color: black;
}

.clipboard-words p {
    font-size: 10px;
}

.clipboard-words-active p {
    font-size: 10px;
}

#clipboard-phone {
    display: none;
}

.footer-section {
    height: 100px;
    background-color: black;
    font-size: 20px;
    color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
}

.topButtonActive {
    display: block;
    opacity: .8;
    position: fixed;
    bottom: 25px;
    color: white;
    right: 40px;
    z-index: 5;
    border-radius: 40px;
    font-size: 30px;
    width: 40px;
    border: 0px;
    height: 40px;
    background: black;
}

.topButtonActive > span {
    position: absolute;
    bottom: 5px;
    right: 10px;
}

.topButtonActive:hover {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    outline: none;
}

.topButtonActive:active {
    outline: none;
}

.topButton:active {
    outline: none;
}

#contact-section {
    padding: 50px;
}

@media screen and (max-width: 1268px) {
    .experience-technologies {
        width: 200px;
        margin: 10px 0 0 160px;
    }

    .experience-technologies * {
        font-size: 18px;
    }
    
    .experience-technologies img {
        height: 25px
    }

    .about-description {
        font-size: 18px;
        padding: 0 0 0 10px;
    }

    .about-small-description {
        font-size: 18px;
        margin: 0 0 10px 60px;
    }

    .about-right {
        width: 500px
    }

    .card-image {
        height: 250px
    }

    .portfolio-links {
        margin-top: 120px;
    }
}

@media screen and (max-width: 967px) {
    .svg-frame {
        visibility: hidden;
    }

    .experience-technologies {
        margin: 5px 0 0 80px
    }

    .portfolio-cards {
        display: block;
        margin: 40px;
    }

    .portfolio-card {
        margin-top: 50px;
    }

    .portfolio-links {
        margin-top: 0;
    }

    #about-section {
        display: grid;
    }

    .about-left {
        display: grid;
        grid-template-columns: 180px 1fr;
    }

    .about-left img {
        height: 150px;
        padding: 40px 0;
    }

    .about-title {
        grid-column: span 2;
    }

    .about-description {
        display: grid;
        align-items: center;
    }

    .about-right {
        width: 90%;
    }

    .experience-technologies {
        margin-left: 40%;
    }

    .resume-sheet > p {
        display: none;
    }

    .resume-entry-place {
        font-size: 20px;
        font-weight: 300;
    }

    .resume-entry-title {
        font-size: 15px;
        font-weight: 300;
    }
}

@media screen and (max-width: 765px) {

    .about-title {
        margin-left: 60px;
        margin-bottom: 20px;
    }

    .welcome-section {
        height: 500px;
    }
    .nav-menu {
        display: none;
    }

    .welcome-name {
        font-size: 55px;
        letter-spacing: .09em;
    }

    .welcome-title {
        font-size: 35px;
        letter-spacing: .02em;
    }
}

@media screen and (max-width: 638px) {

    .welcome-header {
        margin-top: 250px;
    }

    .svg-frame {
        display: none;
    }

    .welcome-background {
        height: 600px;
    }

    .welcome-name {
        font-size: 40px;
        letter-spacing: .02em;
    }

    .welcome-title {
        font-size: 20px;
    }

    .welcome-section {
        height: 320px;
    }

    #about-section {
        margin: 50px 10px;
    }

    .about-title {
        font-size: 30px;
        grid-column: auto;
    }

    .about-left {
        grid-template-columns: 1fr;
    }

    .about-left img {
        padding: 10px;
        height: 90px;
    }

    .about-description {
        font-size: 15px;
    }

    .about-position {
        font-size: 20px;
    }

    .about-small-description {
        font-size: 15px;
        padding: 0 0 10px 10px;
        margin: 0;
    }

    .experience-technologies {
        margin-left: 10%;
    }

    #portfolio-section {
        padding: 20px 50px 50px 50px;
    }

    #portfolio-section .about-title {
        margin-left: 0px;
    }

    .portfolio-cards {
        margin: 0;
    }

    .portfolio-links {
        margin-top: 40px;
    }

    .resume-icon img{
        height: 24px;
        transform: translate(-40px, 15px);
    }

    .resume-entry-place {
        font-size: 15px;
        letter-spacing: 0;
    }

    .resume-entry-title {
        font-size: 10px;
        letter-spacing: 0em;
    }

    .resume-entry {
        margin: 20px 0 0 20% !important;  
    }

    #contact-section {
        padding: 0;
        margin: 60px 0 30px 0;
    }

    .contact-sheet {
        padding: 0;
    }

    #clipboard-email {
        width: 18px;
        transform: translate(230px, -8px);
    }

    #clipboard-icon-email {
        height: 18px;
    }

    #clipboard-email-words p {
        font-size: 10px;
    }

    .clipboard-words-active p {
        font-size: 10px;
    }

    .contact-part img {
        height: 24px;
    }

    .contact-part p {
        font-size: 15px;
        font-weight: 300;
    }
}

