* {
    margin: 0;
	padding: 0;
    /* border: 1px solid red; */
    font-family: 'Roboto Mono', monospace;
}

.welcome-section {
    background-image: url('../img/mainbackground.png');
    background-color: black;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.nav-menu {
    width: 200px;
    margin-top: 75px;
    margin-left: 75%;
}

.nav-menu-list {
    list-style: none;
    line-height: 40px;
    position: relative;
}

.nav-menu-link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .2em;
}

.nav-menu-link:after {
    content: '';
    position: absolute;
    width: 0; height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: white;
    transition: width 2s ease;
    -webkit-transition: width 2s ease;
}

.nav-menu-link:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.welcome-header {
    margin-left: 200px;
    margin-top: 100px;
    width: 670px;
}

.welcome-name {
    color:white;
    letter-spacing: .2em;
    font-size: 75px;
    text-transform: uppercase;
}

.welcome-title{
    font-size: 50px;
    letter-spacing: .08em;
    color: white;
}

#about-section {
    display: flex;
    padding: 50px;
}

.about-left {
    display: grid;
    flex: 1 0;
}

.about-title {
    text-transform: uppercase;
    font-size: 75px;
    margin-left: 120px;
    letter-spacing: .2em;
}

.about-left img {
    height: 222px;
    padding: 80px 0 40px;
    z-index: 2;
}

.about-description {
    font-size: 25px;
    padding: 0 30px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1.2em;
}

.about-right {
    flex: 1 0;
    display: grid;
    align-items: flex-end;
}

.about-position {
    font-size: 50px;
    margin-top: 56px;
    letter-spacing: .2em;
}

.about-small-description {
    font-size: 25px;
    padding: 0 0 0 80px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    letter-spacing: .1em;
    line-height: 1.2em;
}

.experience-technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 200px;
    font-size: 20px;
    text-transform: uppercase;
    grid-template-rows: repeat(6, 40px);
}

.tech-name {
    position: relative;
    top: 2px;
    letter-spacing: .2em;
}

.experience-technologies img {
    height: 35px;
    margin: 0 auto;
}

#portfolio-section {
    padding: 50px;
}

.card-image {
    height: 300px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.24), 0 3px 6px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-image:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.portfolio-cards {
    display: flex;
    justify-content: space-between;
    margin: 80px 60px;
    text-align: center;
    opacity: 1;
}

.portfolio-card {
    display: grid;
    position: relative;
}

.card-title {
    margin-top: 20px;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 25px;
}

.portfolio-links {
    display: flex;
    justify-content: center;
}

.portfolio-link {
    display: grid;
    justify-content: center;
    margin: 0 30px;
    text-align: center;
}

.portfolio-link a {
    color: black;
    text-decoration: none;
}

.portfolio-link-title:after {
    content: '';
    position: absolute;
    width: 0; height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: black;
    transition: width 2s ease;
    -webkit-transition: width 2s ease;
}

.portfolio-link-title:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.portfolio-link-img {
    height: 40px;
}

#resume-section {
    padding: 50px;
    height: 600px;
}

.resume-sheet {
    display: flex;
    margin: 60px 0;
    justify-content: center;
}

.resume-half {
    margin: 0 60px;
    width: 600px;
}

.resume-type-title {
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.resume-entry * {
    /* font-family: 'Roboto', sans-serif; */
    font-weight: 300;
} 
.resume-entry {
    display: flex;
    align-items: center;
    height: 80px;
    margin: 40px 0;
}

.resume-entry-img {
    display: flex;
    justify-content: center;
    width: 140px;
}

.resume-entry-img img {
    height: 50px;
}

.resume-entry-words p:first-child {
    font-size: 25px;
    letter-spacing: -0.08em;
}

.resume-entry-words p:second-child {
    font-size: 20px;
}

.contact-sheet {
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    padding: 60px;
}

.contact-part {
    display: flex;
    position: relative;
    align-items: center;
}

.contact-part img {
    height: 50px;
    margin: 0 25px 0 0;
}

.contact-part p {
    font-size: 30px;
}

.clipboard {
    position: absolute;
}

#clipboard-email {
    transform: translate(428px, -10px);
}

#clipboard-phone {
    transform: translate(300px, -10px);
}

.clipboard img {
    height: 23px;
    opacity: .4;
    cursor: pointer;
}

.clipboard img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.clipboard-words {
    visibility: hidden;    
    transform: translate(-40%, -52px);
    border: .5px solid black;
    padding: 4px;
}

.clipboard-words-active {
    visibility: visible; 
    transform: translate(-40%, -52px);
    border: .5px solid black;
    padding: 4px;
    color: black;
}

.clipboard-words p {
    font-size: 10px;
}

.clipboard-words-active p {
    font-size: 10px;
}

.footer-section {
    height: 100px;
    background-color: black;
    font-size: 20px;
    color: rgb(83, 83, 83);
    display: flex;
    align-items: center;
    justify-content: center;
}









.topButtonActive {
    display: block;
    opacity: .8;
    position: fixed;
    bottom: 25px;
    color: white;
    right: 40px;
    z-index: 5;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    width: 50px;
    border: 0px;
    height: 50px;
    background: black;
}

.topButtonActive:hover {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    outline: none;
}

.topButtonActive:active {
    outline: none;
}

.topButton:active {
    outline: none;
}

#contact-section {
    padding: 50px;
}