* {
    margin: 0;
	padding: 0;
    /* border: 1px solid red; */
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 2000px;
}

.welcome-section {
    background-image: url('../img/mainbackground.png');
    background-color: black;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.nav-menu {
    width: 200px;
    margin-top: 75px;
    margin-left: 75%;
}

.nav-menu-list {
    list-style: none;
    line-height: 40px;
    position: relative;
}

.nav-menu-link {
    text-decoration: none;
    font-size: 22px;
    font-weight: 300;
    color: white;
    text-transform: uppercase;
    position: relative;
    letter-spacing: .2em;
}

.nav-menu-link:after {
    content: '';
    position: absolute;
    width: 0; height: 1px;
    display: block;
    margin-top: -5px;
    right: 0;
    background: white;
    transition: width 2s ease;
    -webkit-transition: width 2s ease;
}

.nav-menu-link:hover:after {
    width: 100%;
    left: 0;
    background: white;
}

.welcome-header {
    margin-left: 200px;
    margin-top: 100px;
    width: 670px;
}

.welcome-name {
    color:white;
    letter-spacing: .2em;
    font-size: 75px;
    text-transform: uppercase;
}

.welcome-title{
    font-size: 50px;
    letter-spacing: .08em;
    color: white;
}

#svg-container {
    width: 100%;
    height: 800px;
    position: absolute;
    z-index: -1;
}

.path {
    stroke-width: 0;
    fill:none;
}

.path-animate {
    animation: dash 5s linear forwards;
    stroke:white;
    fill:none;
    stroke-width: .1;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}